# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [1]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
from pathlib import Path
from newsapi import NewsApiClient

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\bmccr\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [3]:
# Check to make sure your .env is loaded
load_dotenv()

True

In [4]:
# Read your api key environment variable
news_api_key = os.getenv("NEWS_API")
type(news_api_key)

str

In [5]:
# Create a newsapi client
newsapi = NewsApiClient(api_key = news_api_key)

In [10]:
# Fetch the Bitcoin news articles
btc_art = newsapi.get_everything(q = "Bitcoin", language = "en")
len(btc_art)

3

In [11]:
# Fetch the Ethereum news articles
eth_art = newsapi.get_everything(q = "Ethereum", language = "en")
len(eth_art)

3

In [18]:
# Create function that will get sentiments of articles from newsapi
# Create the Bitcoin sentiment scores DataFrame
def get_sentiments(article):
    sentiments = []
    for x in article["articles"]:
        title = x["title"]
        text = x["content"]
        date = x["publishedAt"]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment
        positive = sentiment["pos"]
        neutral = sentiment["neu"]
        negative = sentiment["neg"]
        sentiments.append({
            "Title": title,
            "Text": text,
            "Date": date,
            "Compound": compound,
            "Positive": positive,
            "Neutral": neutral,
            "Negative": negative,
        })
            
    return pd.DataFrame(sentiments)

btc_sentiments = get_sentiments(btc_art)
btc_sentiments.head()

,Title,Text,Date,Compound,Positive,Neutral,Negative
0,El Salvador becomes the first country to appro...,El Salvador's President Nayib Bukele has made ...,2021-06-09T12:04:40Z,"{'neg': 0.0, 'neu': 0.718, 'pos': 0.282, 'comp...",0.282,0.718,0.000
1,El Salvador Becomes First Country to Recognize...,El Salvador has become the first country in th...,2021-06-09T10:00:00Z,"{'neg': 0.0, 'neu': 0.957, 'pos': 0.043, 'comp...",0.043,0.957,0.000
2,Elon Musk says Tesla will resume Bitcoin purch...,"It's all about clean energy, it seems. \r\nElo...",2021-06-14T07:15:49Z,"{'neg': 0.0, 'neu': 0.831, 'pos': 0.169, 'comp...",0.169,0.831,0.000
3,Kaseya ransomware attackers demand $70 million...,Filed under:\r\nThe supply chain attack has re...,2021-07-05T19:45:10Z,"{'neg': 0.184, 'neu': 0.705, 'pos': 0.111, 'co...",0.111,0.705,0.184
4,Bitcoin: El Salvador makes cryptocurrency lega...,image captionThe move means bitcoin will be ac...,2021-06-09T08:27:58Z,"{'neg': 0.0, 'neu': 0.94, 'pos': 0.06, 'compou...",0.060,0.940,0.000

In [19]:
# Create the Ethereum sentiment scores DataFrame
eth_sentiments = get_sentiments(eth_art)
eth_sentiments.head()

,Title,Text,Date,Compound,Positive,Neutral,Negative
0,This blockchain development course bundle is o...,TL;DR: The Cryptocurrency with Ethereum and So...,2021-06-17T04:05:00Z,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,1.000,0.000
1,Classic memes that have sold as NFTs,It wasn't long ago that your average person ha...,2021-06-20T19:28:07Z,"{'neg': 0.061, 'neu': 0.939, 'pos': 0.0, 'comp...",0.000,0.939,0.061
2,Ethereum creator Vitalik Buterin made more tha...,This article was translated from our Spanish e...,2021-06-10T19:12:00Z,"{'neg': 0.066, 'neu': 0.934, 'pos': 0.0, 'comp...",0.000,0.934,0.066
3,Ethereum now has more active addresses than bi...,Bitcoin and Ethereum\r\nYuriko Nakao\r\nEther ...,2021-07-02T15:49:56Z,"{'neg': 0.041, 'neu': 0.849, 'pos': 0.11, 'com...",0.110,0.849,0.041
4,More than $13 billion worth of ether has been ...,"Ether holders have ""staked"" more than $13 bill...",2021-07-05T12:54:02Z,"{'neg': 0.0, 'neu': 0.806, 'pos': 0.194, 'comp...",0.194,0.806,0.000

In [20]:
# Describe the Bitcoin Sentiment
btc_sentiments.describe()

        Positive    Neutral   Negative
count  20.000000  20.000000  20.000000
mean    0.071700   0.887650   0.040600
std     0.071231   0.080691   0.054079
min     0.000000   0.705000   0.000000
25%     0.000000   0.840250   0.000000
50%     0.060500   0.905000   0.000000
75%     0.107250   0.943750   0.073500
max     0.282000   1.000000   0.184000

In [21]:
# Describe the Ethereum Sentiment
eth_sentiments.describe()

        Positive    Neutral   Negative
count  20.000000  20.000000  20.000000
mean    0.040500   0.934350   0.025150
std     0.058708   0.053135   0.032347
min     0.000000   0.806000   0.000000
25%     0.000000   0.920000   0.000000
50%     0.000000   0.936500   0.000000
75%     0.074750   0.961000   0.060250
max     0.194000   1.000000   0.080000

### Questions:

Q: Which coin had the highest mean positive score?

A: 

Q: Which coin had the highest compound score?

A: 

Q. Which coin had the highest positive score?

A:

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [10]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [11]:
# Instantiate the lemmatizer
# YOUR CODE HERE!

# Create a list of stopwords
# YOUR CODE HERE!

# Expand the default stopwords list if necessary
# YOUR CODE HERE!

In [12]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Remove the punctuation from text

   
    # Create a tokenized list of the words
    
    
    # Lemmatize words into root words

   
    # Convert the words to lowercase
    
    
    # Remove the stop words
    
    
    return tokens

In [13]:
# Create a new tokens column for Bitcoin
# YOUR CODE HERE!

In [14]:
# Create a new tokens column for Ethereum
# YOUR CODE HERE!

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [15]:
from collections import Counter
from nltk import ngrams

In [16]:
# Generate the Bitcoin N-grams where N=2
# YOUR CODE HERE!

In [17]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!

In [18]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [19]:
# Use token_count to get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [20]:
# Use token_count to get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [21]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [22]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [23]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [24]:
import spacy
from spacy import displacy

In [25]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [26]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [27]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [28]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [29]:
# Render the visualization
# YOUR CODE HERE!

In [30]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [31]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [32]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [33]:
# Render the visualization
# YOUR CODE HERE!

In [34]:
# List all Entities
# YOUR CODE HERE!

---